<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Contact Page</title>
</head>
<body>
	<section>
		<h1>This is contact page...</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
			itaque molestias nostrum qui eos repellendus excepturi animi deleniti
			fugit dignissimos asperiores quos architecto alias placeat voluptatem
			debitis consequatur temporibus natus quasi iure maiores quia modi
			culpa voluptate tempora a suscipit eaque id cum porro tempore
			necessitatibus odit nulla. Eius exercitationem.</p>
	</section>
</body>
</html>